PORT = 3005
NODE_ENV = development
DB_URI = 
SERVICE_NAME = BOOKING-SERVICE
JWT_SECRET= 
#REDIS
REDIS_URL = 'redis://localhost:6379'

#VNPAY SETTING
VNP_TMNCODE = 
VNP_HASHSECRET = 
VNP_URL = 

VNP_RETURN_URL = 
FRONTEND_URL = 
VNP_IPN_URL = 


#RABBITMQ
RABBITMQ_URL='amqp://guest:guest@localhost:5672'
NOTIFICATION_EXCHANGE = 'notification_events'
NOTIFICATION_QUEUE = 'email_notification_queue'
UPDATE_SEAT_EXCHANGE = 'update_seat_exchange' 
TRIP_SERVICE_ROUTING_KEY = 'trip.update_seats'