#CONFIG_SERVICE
PORT = 3002
NODE_ENV = development
DB_URI = 
#JWT AUTH
JWT_SECRET = 
JWT_EXPIRES_IN =

#REDIS
REDIS_URL =

#NODE_MAILER
EMAIL_USER = 
EMAIL_PASS = 
SMTP_HOST = 
SMTP_PORT = 587

#SMS_SERVICCE
KEY_FREESMS = 
DEVICE_NUMBER = 

#PORT_OF_PARTNER_SERVICE
PORT_USER_SERVICE = 

#VNPAY SERVICE
VNP_TMNCODE =
VNP_HASHSECRET =
VNP_URL =

VNP_RETURN_URL =
VNP_IPN_URL =

#PORT_OF_NGROK
PORT_OF_NGROK = 
NGROK_AUTH_TOKEN = 