PORT=3000
NODE_ENV=development

# Service URLs
URL_TRIP_SERVICE=http://localhost:3001
URL_AUTH_SERVICE=http://localhost:3002
URL_NOTIFICATION_SERVICE=http://localhost:3003
URL_PROMOTION_SERVICE=http://localhost:3004
URL_BOOKING_SERVICE=http://localhost:3005
URL_AI_SERVICE=http://localhost:3006

# JWT Secret
JWT_SECRET= 'smart_bus_doAnTotNghiep2025'
# REDIS Config
REDIS_URL= 'redis://localhost:6379'