PORT = 3002
SERVICE_NAME = AUTH-SERVICE
DB_URI = 

#JWT AUTH
JWT_SECRET = 
JWT_REFRESH_SECRET = 
JWT_EXPIRES_IN = '12000s'
JWT_REFRESH_EXPIRES_IN = '7d'
OTP_EXPIRY_SECONDS = 300
SESSION_EXPIRY_SECONDS = 86400
#REDIS
REDIS_URL = 'redis://localhost:6379'

#RABBITMQ
RABBITMQ_URL='amqp://guest:guest@localhost:5672'
NOTIFICATION_EXCHANGE = 'notification_events'
NOTIFICATION_QUEUE = 'email_notification_queue'

HISTORY_SEARCH_EXCHANGE = 'user_data_exchange'
SEARCH_HISTORY_QUEUE = 'auth_search_history_queue'
HISTORY_SEARCH_ROUTING_KEY = 'auth.search_history'